{% extends "layout.html.twig" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container">

    <div class="well">
        <div class="row" id="rangeBouton1">
            <div class="col-sm-4">
                <a type="button" href="#" class="btn btn-primary btn-lg btn-block">
                <span class="fa fa-print"></span><br>Gestion Imprimante
                </a>
            </div>
            <div class="col-sm-4">
                <button type="button" class="btn btn-success btn-lg btn-block">
                <span class="fa fa-shopping-cart"></span><br>Gestion Fournitures
                </button>
            </div>
            <div class="col-sm-4">
                <button type="button" class="btn btn-danger btn-lg btn-block">
                <span class="fa fa-laptop"></span><br>Gestion Ordinateur
            </button>
            </div>
        </div>


        <div class="row" id="rangeBouton2">
            <div class="col-sm-4">
                <button type="button" class="btn btn-warning btn-lg btn-block">
                <span class="fa fa-cloud-download"></span><br>Gestion Logicel
                </button>
            </div>
            <div class="col-sm-4">
                <button type="button" class="btn btn-info btn-lg btn-block">
                <span class="   fa fa-server"></span><br>Gestion Reseaux
                </button>
            </div>
            <div class="col-sm-4">
                <button type="button" class="btn btn-primary btn-lg btn-block">
                <span class="fa fa-eur"></span><br>MAPA 2017    
                </button>
            </div>
        </div>
    </div>



</div>



{% endblock %}